.poll {
  width: calc(100% - 60px);
  max-width: 700px;
  background: #393e46;
  margin-bottom: 30px;
  border-radius: 15px;
}

.poll-header {
  width: 100%;
  height: 50px;
  background: #232931;
  display: flex;
  justify-content: space-between;
  border-radius: 15px 15px 0 0;
  box-sizing: border-box;
  align-items: center;
}

.poll-status {
  width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #232931;
  border-top-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.poll-name {
  color: #eeeeee;
  margin-right: 15px;
  font-weight: bold;
}

.poll-options {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.poll-actions {
  width: 100%;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  user-select: none;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
}

.poll-actions-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.poll-actions-text {
  font-weight: bold;
  color: #232931;
}

.poll-actions-cancel {
  font-weight: bold;
  color: #eeeeee;
}

/* .poll-actions {
  width: 100%;
  height: 35px;
  background: #4ecca3;
  border-radius: 0 0 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #232931;
  font-weight: bold;
  font-size: 17px;
  user-select: none;
  cursor: pointer;
}

.poll-actions:hover {
  background: #40bb92;
} */
