.body {
  flex: 1;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
